@use '@abstracts/_index' as *;

.bio__item {
  --gap: #{rem(16)};
  align-items: center;
  background-color: hsl(0, 0%, 97%);
  border-radius: var(--border-radius-small);
  color: var(--fc-card);
  display: flex;
  font-size: var(--fs-body-sm);
  gap: var(--gap);
  padding-block: size-clamp(rem(12), rem(20));
  padding-inline: size-clamp(rem(16), rem(24));

  & + & {
    margin-top: rem(16);
  }

  @include mq('md') {
    --gap: #{rem(20)};
  }
}

.bio__item__label {
  font-weight: 800;
  text-transform: capitalize;
}

.bio__item__content {
  display: flex;
  flex-direction: column;

  a {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
  }
}

.bio__item__icon {
  color: var(--clr-accent-400);
}
