@use '@abstracts/_index' as *;

.container {
  --initial-bg: var(--clr-accent-400);
  --active-bg: var(--clr-secondary-400);
  display: flex;
  flex-direction: column;
}

.nav__button {
  align-self: flex-end;
  justify-self: flex-end;
}

.nav {
  background-color: var(--active-bg);
  border-radius: rem(20) 0 rem(20) rem(20);
  box-shadow: var(--shadow-menu);
  display: grid;
  gap: 0;
  grid-template-rows: 1fr;
  padding: rem(32) rem(24);
  pointer-events: all;
  position: absolute;
  right: 0;
  top: 100%;
  transition:
    grid-template-rows var(--transition-duration) ease-in-out,
    grid-template-columns var(--transition-duration) ease-in-out,
    background-color var(--transition-duration) ease,
    box-shadow var(--transition-duration) ease,
    padding var(--transition-duration) ease;

  @include mq(500, 'max', 'width') {
    width: 100%;
  }

  &[aria-hidden='true'] {
    background-color: transparent;
    grid-template-rows: 0fr;
    padding-block: 0;
    pointer-events: none;
  }

  menu {
    list-style: none;
    padding: 0;
  }

  @include mq(md) {
    background: none;
    border-radius: initial;
    box-shadow: none;
    padding: 0;
    position: static;
  }
}

.nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;

  @include mq(md) {
    overflow: visible;
  }
}

.nav__main {
  display: flex;
  flex-direction: column;
  gap: rem(20);

  li {
    padding-top: rem(20);

    &:first-of-type {
      padding-top: 0;
    }

    & + li {
      border-top: 1px solid rgba(white, 0.1);
    }

    a {
      display: block;
      width: 100%;
    }
  }

  @include mq('md') {
    flex-direction: row;
    gap: rem(48);

    li {
      padding: 0;

      & + li {
        border: none;
      }
    }
  }
}

.nav__social {
  display: flex;
  flex-direction: row;
  gap: rem(16);
  justify-content: space-between;
  margin-top: rem(40);

  .socialButton {
    background-color: var(--clr-secondary-300);
    color: var(--clr-secondary-400);

    &:hover {
      background-color: var(--clr-accent-400);
      color: var(--clr-primary-600);
    }
  }

  @include mq('base-lg') {
    gap: rem(24);
  }

  @include mq('md') {
    display: none;
  }
}
