DATABASE_URI=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
NEXT_PUBLIC_BASE_URL=PUBLIC_URL_HERE
NEXT_PUBLIC_SERVER_URL=PUBLIC_SERVER_URL_HERE
PREVIEW_SECRET=$PAYLOAD_SECRET

R2_ACCESS_KEY_ID=R2_ACCESS_KEY_ID_HERE
R2_SECRET_ACCESS_KEY=R2_SECRET_ACCESS_KEY_HERE
R2_BUCKET=R2_BUCKET_HERE
R2_ENDPOINT=R2_ENDPOINT_HERE

CF_ACCOUNT_ID=CLOUDFLARE_ACCOUNT_ID_HERE
CF_API_TOKEN=CLOUDFLARE_API_TOKEN_HERE

NEXT_PUBLIC_TURNSTILE_SITE_KEY=YOUR_TURNSTILE_SITE_KEY_HERE
TURNSTILE_SECRET=YOUR_TURNSTILE_SECRET_HERE

NEXT_PUBLIC_PUBLIC_KEY=IMAGEKIT_PUBLIC_KEY_HERE
NEXT_PUBLIC_URL_ENDPOINT=IMAGEKIT_URL_ENDPOINT_HERE
PRIVATE_KEY=IMAGEKIT_PRIVATE_KEY_HERE

RESEND_API_KEY=RESEND_API_KEY_HERE

SPOTIFY_CLIENT_ID=SPOTIFY_CLIENT_ID_HERE
SPOTIFY_CLIENT_SECRET=SPOTIFY_CLIENT_SECRET_HERE
SPOTIFY_REFRESH_TOKEN=SPOTIFY_REFRESH_TOKEN_HERE

NEXT_PUBLIC_SITE_NAME=NEXT_PUBLIC_SITE_NAME_HERE
NEXT_PUBLIC_AUTHOR_NAME=NEXT_PUBLIC_AUTHOR_NAME_HERE
NEXT_PUBLIC_CONTACT_EMAIL=NEXT_PUBLIC_CONTACT_EMAIL_HERE