@use '@abstracts/_index' as *;

.tag-cloud__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: size-clamp(rem(32), rem(48));

  @include mq('md') {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
