@use '@abstracts/_index' as *;

.details__list {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  list-style: none;
  padding: 0;
}

.details__list-item {
  background-color: var(--clr-light-grey-150);
  border-radius: var(--border-radius-small);
  column-gap: rem(16);
  display: flex;
  flex-direction: column;
  padding-block: size-clamp(rem(12), rem(16));
  padding-inline: size-clamp(rem(16), rem(20));
  row-gap: rem(4);

  @include mq('md') {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &:hover {
    .details__label {
      color: var(--clr-secondary-400);
    }

    .details__icon svg {
      color: var(--clr-accent-400);
    }
  }
}

.details__label {
  align-items: center;
  display: flex;
  font-family: var(--ff-display-condensed);
  font-size: size-clamp(rem(20), rem(24));
  font-weight: 700;
  gap: rem(8);
  text-transform: uppercase;
  transition: color var(--transition-duration) ease;
}

.details__icon svg {
  color: var(--clr-light-grey-450);
  transition: color var(--transition-duration) ease;
}

.details__content {
  font-size: rem(18);
  line-height: 1;
}

.details__categories {
  &-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(8);
    column-gap: rem(4);
  }

  .details__content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: space-between;
    gap: rem(8);
    flex-grow: 1;
  }
}

.details__show-more-btn {
  padding: rem(4) !important;
  display: inline-block;

  svg {
    inline-size: rem(16);
    block-size: rem(16);
  }
}

.details__extra-count {
  font-size: rem(14);
}
