@use '@abstracts/_index' as *;

.categories__main {
  padding-bottom: 0 !important;
}

.categories__wrapper {
  position: relative;
  @include mq('md') {
    gap: rem(56);
  }
}

.categories__content {
  position: relative;

  @include mq('md') {
    > *:first-child {
      position: sticky;
      top: calc(var(--layout-row-spacing) * 1.5);
    }
  }
}
