@use '@abstracts/_index' as *;

.not-found__page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: size-clamp(rem(20), rem(32));
  text-align: center;

  .not-found__title {
    font-family: var(--ff-display-condensed);
  }
}
