@use '@abstracts/_index' as *;

.search-page__hero {
  display: flex;
  flex-direction: column;
  row-gap: size-clamp(rem(32), rem(80));
  text-align: center;

  @include mq('md') {
    text-align: left;
  }
}

.search-page__breadcrumbs {
  display: flex;
  justify-content: center;
  margin-block: size-clamp(rem(16), rem(32));

  @include mq('md') {
    justify-content: flex-start;
  }
}

.search-page__wrapper {
  position: relative;
  @include mq('md') {
    align-items: start;
    gap: rem(56);
  }
}

.search-page__main {
  @include mq('md') {
    position: sticky;
    top: calc(var(--layout-row-spacing) * 1.5);
  }
}

.search-page__content {
  @include mq('md') {
    display: flex;
    flex-direction: column;
    gap: rem(32);
  }
}

.search-page__search-bar {
  width: min(100%, rem(704));
}
