@use '@abstracts/_index' as *;

.service__image-container {
  align-items: center;
  background-color: var(--card-outline-color) !important;
  border-radius: var(--border-radius-medium);
  display: flex;
  justify-content: center;
  padding: size-clamp(rem(24), rem(48));
}

.service__image {
  aspect-ratio: 1 / 1;
  height: auto;
  width: 100%;

  &[src$='.svg'] {
    max-height: rem(200);
  }

  &-container {
    display: none;
    @include mq('md') {
      display: block;
    }
  }
}

.service__item {
  align-items: center;
  background-color: var(--clr-light-grey-150);
  border-radius: var(--border-radius-small);
  color: var(--fc-card);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-paragraph);
  justify-content: center;
  padding: size-clamp(rem(20), rem(32));
  text-align: center;

  & + & {
    margin-top: size-clamp(rem(16), rem(24));
  }

  @include mq('md') {
    flex-direction: row;
    gap: rem(32);
    text-align: left;
  }
}

.service__item-image {
  aspect-ratio: 1 / 1;
  height: auto;
  width: 100%;

  &[src$='.svg'] {
    max-height: rem(144);
    max-width: rem(144);
  }
}

.service__item-divider {
  display: none !important;

  @include mq('md') {
    display: block !important;
  }
}

.service__item-title {
  font-size: size-clamp(rem(32), rem(40));
  margin-bottom: var(--spacing-paragraph);

  @include mq('md') {
    margin-bottom: 0;
  }
}
