@use '@abstracts/_index' as *;

aside.sidebar {
  --text-color: var(--clr-urban-steel-400);
  --icon-color: var(--clr-light-grey-400);

  display: flex;
  flex-direction: column;
  gap: size-clamp(rem(16), rem(32));
}

.sidebar__block {
  background-color: var(--clr-gallery-250);
  border: rem(2) solid var(--card-outline-color);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-card-sm);
  color: var(--text-color);
  padding: size-clamp(rem(16), rem(32));
  text-align: left;
}

.sidebar__block-title {
  font-size: var(--fs-heading);
}

.sidebar__block-icon {
  color: var(--icon-color);
  min-block-size: rem(24);
  min-inline-size: rem(24);
}
