@use '@abstracts/_index' as *;

aside.sidebar {
  --text-color: var(--clr-urban-steel-400);
  --icon-color: var(--clr-light-grey-400);
  --parent-padding: #{size-clamp(rem(16), rem(20))};
  --child-padding: #{size-clamp(rem(12), rem(12))};

  display: flex;
  flex-direction: column;
  gap: size-clamp(rem(24), rem(32));

  @include mq('md') {
    position: sticky;
    top: calc(var(--layout-row-spacing) * 1.5);
  }
}

.sidebar__search {
  background-color: var(--clr-gallery-250);
  &:focus {
    background-color: #fff;
  }
}

.sidebar__block {
  background-color: var(--clr-gallery-250);
  border: rem(2) solid var(--card-outline-color);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-card-sm);
  color: var(--text-color);
  padding: size-clamp(rem(20), rem(32));
  text-align: left;
  transition: background-color var(--transition-duration) ease;

  &:hover {
    background-color: var(--clr-gallery-100);
    --text-color: var(--clr-urban-steel-500);
  }

  a {
    align-items: center;
    color: inherit;
    display: flex;
    font-weight: 550;
    gap: size-clamp(rem(8), rem(12));
    text-decoration: none;
    width: 100%;

    &:focus,
    &:focus-visible {
      color: var(--clr-secondary-400);
    }

    &:hover {
      color: var(--clr-secondary-400);
      text-decoration: underline;
      text-decoration-color: var(--clr-accent-400);
      text-decoration-thickness: rem(3);
    }
  }

  &--meta {
    padding: rem(20);
    --icon-color: var(--clr-urban-steel-300);

    &:hover {
      --text-color: var(--clr-urban-steel-400);
    }
  }
}

.sidebar__block-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.sidebar__block-title {
  font-size: var(--fs-heading);
}

.sidebar__block-icon {
  color: var(--icon-color);
  min-block-size: rem(24);
  min-inline-size: rem(24);
  transition: color var(--transition-duration) ease;
}

.sidebar__block-button {
  --icon-color: var(--clr-light-grey-450);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: rem(3);

  &:hover {
    --icon-color: var(--clr-accent-400);
  }

  &:focus-visible {
    @include focused-box;
    border-radius: var(--border-radius-circle);
    --icon-color: var(--clr-accent-400);
  }
}

.sidebar__block-list {
  font-size: var(--fs-body-sm);
  list-style: none;
  padding: 0;

  li {
    padding-block: var(--parent-padding);

    a {
      justify-content: space-between;

      &:hover {
        --icon-color: var(--clr-accent-400);
      }
    }

    & + li {
      border-top: rem(2) solid var(--clr-gallery-400);
    }

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      &:not(.sidebar__block-subcat-list li) {
        padding-bottom: 0;
      }

      .sidebar__block-subcat-list li:last-of-type {
        padding-bottom: 0;
      }
    }

    &:has(.sidebar__block-subcat-list) {
      padding-bottom: 0;
    }
  }
}

.sidebar__block-subcat-list {
  font-size: var(--fs-small);
  list-style: none;
  margin-top: var(--parent-padding);
  padding-inline: 0;

  a {
    font-weight: 400;
    justify-content: flex-start !important;

    &:hover {
      text-decoration-thickness: rem(2);
      --icon-color: var(--clr-accent-400);
    }
  }

  li {
    gap: size-clamp(rem(8), rem(12));
    padding-block: var(--child-padding);

    a:hover {
      --icon-color: var(--clr-accent-400);
    }

    & + & {
      border-top: rem(1) solid var(--clr-gallery-400);
    }

    &:first-of-type {
      border-top: rem(2) solid var(--clr-gallery-400);
      padding-top: var(--child-padding);
    }
  }
}

.sidebar__post-meta {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-body-sm);
  gap: rem(16);
  list-style: none;
  padding: 0;

  &-item {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: var(--border-radius-medium);
    display: flex;
    flex-direction: column;
    gap: rem(4);
    padding-block: rem(16);
    padding-inline: rem(20);
    transition: color var(--transition-duration) ease;

    &:hover {
      color: var(--clr-urban-steel-500);

      .sidebar__block-icon {
        --icon-color: var(--clr-accent-400);
      }
    }

    @include mq('md') {
      align-items: center;
      column-gap: rem(16);
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: rem(2);
    }
  }

  &-label {
    align-items: center;
    display: flex;
    font-family: var(--ff-display-condensed);
    font-size: size-clamp(rem(20), rem(24));
    font-weight: 700;
    gap: rem(8);
    text-transform: uppercase;
  }

  &-link {
    display: inline !important;
    font-weight: 400 !important;
  }
}
