@use 'sass:map';
@use './../functions/changeShade' as *;
@use './../functions/generateShades' as *;

////
/// @group settings-colours
////

/// Colour Palette - A map of the project colour palette.
/// @type map
$colour-palette: (
  'aero': hsla(191, 72%, 51%, 1),
  'ocean-deep': hsla(196, 61%, 38.92%, 1),
  'prussian-blue': hsla(207, 40%, 17%, 1),
  'baby-powder': hsla(60, 14%, 97%, 1),
  'ivory-mist': hsla(40, 13%, 97%, 1),
  'ash-cloud': hsla(0, 0%, 65%, 1),
  'stormy-slate': hsla(215, 11%, 43%, 1),
  'white': hsla(0, 0%, 100%, 1),
  'frosted-sage': hsla(60, 7%, 86%, 1),
  'frosted-pearl': hsla(60, 5%, 93%, 1),
  'urban-steel': hsla(220, 2%, 61%, 1),
  'bittersweet': hsl(8.05deg, 100%, 67.8%, 1),
  'old-gold': hsla(47.1deg, 73.1%, 57.6%, 1),
  'concrete': hsla(60, 7%, 95%, 1),
  'gallery': hsla(60, 9%, 93%, 1),
  'light-grey': hsl(0, 0%, 85%),
  'fresh-leaf': rgb(69, 200, 91),
  'cherry-punch': hsla(355, 80%, 55%, 1),
  'amber-glow': hsla(35, 100%, 50%, 1),
);

/// @type map
$project-colours: (
  primary: generate-shades(map.get($colour-palette, 'ocean-deep')),
  secondary: generate-shades(map.get($colour-palette, 'prussian-blue')),
  accent: generate-shades(map.get($colour-palette, 'aero')),
  'ivory': generate-shades(map.get($colour-palette, 'ivory-mist')),
  ash: generate-shades(map.get($colour-palette, 'ash-cloud')),
  ash-cloud: generate-shades(map.get($colour-palette, 'ash-cloud')),
  light: generate-shades(map.get($colour-palette, 'baby-powder')),
  slate: generate-shades(map.get($colour-palette, 'stormy-slate')),
  stormy-slate: generate-shades(map.get($colour-palette, 'stormy-slate')),
  frosted-sage: generate-shades(map.get($colour-palette, 'frosted-sage')),
  frosted-pearl: generate-shades(map.get($colour-palette, 'frosted-pearl')),
  urban-steel: generate-shades(map.get($colour-palette, 'urban-steel')),
  old-gold: generate-shades(map.get($colour-palette, 'old-gold')),
  bittersweet: generate-shades(map.get($colour-palette, 'bittersweet')),
  concrete: generate-shades(map.get($colour-palette, 'concrete')),
  gallery: generate-shades(map.get($colour-palette, 'gallery')),
  'light-grey': generate-shades(map.get($colour-palette, 'light-grey')),
  fresh-leaf: generate-shades(map.get($colour-palette, 'fresh-leaf')),
  cherry-punch: generate-shades(map.get($colour-palette, 'cherry-punch')),
  amber-glow: generate-shades(map.get($colour-palette, 'amber-glow')),
);

/// Success background color
/// @type Color
$success-background-color: map.get($project-colours, 'fresh-leaf', 350) !default;

/// Error background color
/// @type Color
$error-background-color: map.get($project-colours, 'cherry-punch', 500) !default;

/// Warning background color
/// @type Color
$warning-background-color: map.get($project-colours, 'amber-glow', 400) !default;

/// Focus background color
/// @type Color
$focus-background-color: map.get($project-colours, 'accent', 400) !default;

/// Focus text color
/// @type Color
$focus-text-color: map.get($project-colours, 'secondary', 400) !default;

/// Body text colour
/// The colour used for body text
/// @type Color
$font-body-color: map.get($project-colours, secondary, 400) !default;

/// Light body text colour
/// The colour used for body text on darker backgrounds
/// @type Color
$font-body-color-light: map.get($project-colours, light, 400);

/// Subtitle font colour
/// Colour used for subtitles or taglines
/// @type Color
$font-subtitle-color: map.get($project-colours, ash, 400);

/// Card outline colour
/// Colour used for card outlines
/// @type Color
$card-outline-color: map.get($project-colours, frosted-pearl, 400);

/// Card font colour
/// Colour used for card text
/// @type Color
$font-card-color: map.get($project-colours, slate, 400) !default;

/// Print Text Colour
/// The default color for text in print materials, set to black if not overridden.
/// @type Color
$font-print-colour: #000 !default;

/// Selection Colour
/// The colour used for text selection
/// @type Color
$selection-bg-color: map.get($project-colours, accent, 400) !default;

/// Selection Text Contrast Colour
/// The colour used for text selection contrast
/// @type Color
$selection-text-contrast-color: map.get($project-colours, bittersweet, 400) !default;
