@use 'sass:map';
@use './../functions/changeShade' as *;

////
/// @group settings-colours
////

/// Colour Palette - A map of the project colour palette.
/// @type map
$colour-palette: (
  'aero': hsla(191, 72%, 51%, 1),
  'ocean-deep': hsla(196, 61%, 38.92%, 1),
  'prussian-blue': hsla(207, 40%, 17%, 1),
  'baby-powder': hsla(60, 14%, 97%, 1),
  'ivory-mist': hsla(40, 13%, 97%, 1),
  'ash-cloud': hsla(0, 0%, 65%, 1),
  'stormy-slate': hsla(215, 11%, 43%, 1),
  'white': hsla(0, 0%, 100%, 1),
  'frosted-sage': hsla(60, 7%, 86%, 1),
  'urban-steel': hsla(220, 2%, 61%, 1),
  'bittersweet': hsl(8.05deg, 100%, 67.8%, 1),
  'old-gold': hsla(47.1deg, 73.1%, 57.6%, 1),
  'concrete': hsla(60, 7%, 95%, 1),
  'gallery': hsla(60, 9%, 93%, 1),
  'light-grey': hsl(0, 0%, 85%),
);

/// @type map
$project-colours: (
  primary: (
    100: change-shade(map.get($colour-palette, 'ocean-deep'), 70%),
    200: change-shade(map.get($colour-palette, 'ocean-deep'), 60%),
    300: change-shade(map.get($colour-palette, 'ocean-deep'), 50%),
    400: map.get($colour-palette, 'ocean-deep'),
    500: change-shade(map.get($colour-palette, 'ocean-deep'), 30%),
    600: change-shade(map.get($colour-palette, 'ocean-deep'), 20%),
    700: change-shade(map.get($colour-palette, 'ocean-deep'), 10%),
  ),
  secondary: (
    100: change-shade(map.get($colour-palette, 'prussian-blue'), 77%),
    200: change-shade(map.get($colour-palette, 'prussian-blue'), 57%),
    300: change-shade(map.get($colour-palette, 'prussian-blue'), 37%),
    400: map.get($colour-palette, 'prussian-blue'),
    500: change-shade(map.get($colour-palette, 'prussian-blue'), 10%),
    600: change-shade(map.get($colour-palette, 'prussian-blue'), 5%),
  ),
  accent: (
    100: change-shade(map.get($colour-palette, 'aero'), 81%),
    200: change-shade(map.get($colour-palette, 'aero'), 71%),
    300: change-shade(map.get($colour-palette, 'aero'), 61%),
    400: map.get($colour-palette, 'aero'),
    450: change-shade(map.get($colour-palette, 'aero'), 43.75%),
    500: change-shade(map.get($colour-palette, 'aero'), 41%),
    600: change-shade(map.get($colour-palette, 'aero'), 31%),
    700: change-shade(map.get($colour-palette, 'aero'), 21%),
    800: change-shade(map.get($colour-palette, 'aero'), 17.5%),
  ),
  'ivory': (
    100: change-shade(map.get($colour-palette, 'ivory-mist'), 100%),
    200: change-shade(map.get($colour-palette, 'ivory-mist'), 99%),
    300: change-shade(map.get($colour-palette, 'ivory-mist'), 98%),
    400: map.get($colour-palette, 'ivory-mist'),
    500: change-shade(map.get($colour-palette, 'ivory-mist'), 77%),
    600: change-shade(map.get($colour-palette, 'ivory-mist'), 67%),
    700: change-shade(map.get($colour-palette, 'ivory-mist'), 57%),
  ),
  ash: (
    100: change-shade(map.get($colour-palette, 'ash-cloud'), 90%),
    200: change-shade(map.get($colour-palette, 'ash-cloud'), 85%),
    300: change-shade(map.get($colour-palette, 'ash-cloud'), 75%),
    400: map.get($colour-palette, 'ash-cloud'),
    500: change-shade(map.get($colour-palette, 'ash-cloud'), 55%),
    600: change-shade(map.get($colour-palette, 'ash-cloud'), 40.5%),
    700: change-shade(map.get($colour-palette, 'ash-cloud'), 35%),
  ),
  light: (
    100: change-shade(map.get($colour-palette, 'baby-powder'), 100%),
    200: change-shade(map.get($colour-palette, 'baby-powder'), 99%),
    300: change-shade(map.get($colour-palette, 'baby-powder'), 98%),
    400: map.get($colour-palette, 'baby-powder'),
    500: change-shade(map.get($colour-palette, 'baby-powder'), 77%),
    600: change-shade(map.get($colour-palette, 'baby-powder'), 67%),
    700: change-shade(map.get($colour-palette, 'baby-powder'), 57%),
  ),
  slate: (
    100: change-shade(map.get($colour-palette, 'stormy-slate'), 73%),
    200: change-shade(map.get($colour-palette, 'stormy-slate'), 63%),
    250: change-shade(map.get($colour-palette, 'stormy-slate'), 57.25%),
    300: change-shade(map.get($colour-palette, 'stormy-slate'), 53%),
    400: map.get($colour-palette, 'stormy-slate'),
    500: change-shade(map.get($colour-palette, 'stormy-slate'), 33%),
    600: change-shade(map.get($colour-palette, 'stormy-slate'), 23%),
    700: change-shade(map.get($colour-palette, 'stormy-slate'), 13%),
  ),
  frosted-sage: (
    100: change-shade(map.get($colour-palette, 'frosted-sage'), 97%),
    200: change-shade(map.get($colour-palette, 'frosted-sage'), 95%),
    300: change-shade(map.get($colour-palette, 'frosted-sage'), 90%),
    400: map.get($colour-palette, 'frosted-sage'),
    500: change-shade(map.get($colour-palette, 'frosted-sage'), 76%),
    600: change-shade(map.get($colour-palette, 'frosted-sage'), 66%),
    700: change-shade(map.get($colour-palette, 'frosted-sage'), 56%),
  ),
  urban-steel: (
    100: change-shade(map.get($colour-palette, 'urban-steel'), 91%),
    200: change-shade(map.get($colour-palette, 'urban-steel'), 81%),
    300: change-shade(map.get($colour-palette, 'urban-steel'), 71%),
    400: map.get($colour-palette, 'urban-steel'),
    500: change-shade(map.get($colour-palette, 'urban-steel'), 51%),
    600: change-shade(map.get($colour-palette, 'urban-steel'), 41%),
    700: change-shade(map.get($colour-palette, 'urban-steel'), 31%),
  ),
  old-gold: (
    100: change-shade(map.get($colour-palette, 'old-gold'), 80%),
    200: change-shade(map.get($colour-palette, 'old-gold'), 75%),
    300: change-shade(map.get($colour-palette, 'old-gold'), 65%),
    400: map.get($colour-palette, 'old-gold'),
    500: change-shade(map.get($colour-palette, 'old-gold'), 50%),
    600: change-shade(map.get($colour-palette, 'old-gold'), 45%),
    700: change-shade(map.get($colour-palette, 'old-gold'), 40%),
  ),
  bittersweet: (
    100: change-shade(map.get($colour-palette, 'bittersweet'), 90%),
    200: change-shade(map.get($colour-palette, 'bittersweet'), 85%),
    300: change-shade(map.get($colour-palette, 'bittersweet'), 75%),
    400: map.get($colour-palette, 'bittersweet'),
    500: change-shade(map.get($colour-palette, 'bittersweet'), 55%),
    600: change-shade(map.get($colour-palette, 'bittersweet'), 45%),
    700: change-shade(map.get($colour-palette, 'bittersweet'), 35%),
  ),
  concrete: (
    100: change-shade(map.get($colour-palette, 'concrete'), 99%),
    200: change-shade(map.get($colour-palette, 'concrete'), 98%),
    300: change-shade(map.get($colour-palette, 'concrete'), 97.5%),
    400: map.get($colour-palette, 'concrete'),
    500: change-shade(map.get($colour-palette, 'concrete'), 90%),
    600: change-shade(map.get($colour-palette, 'concrete'), 85%),
    700: change-shade(map.get($colour-palette, 'concrete'), 75%),
  ),
  gallery: (
    100: change-shade(map.get($colour-palette, 'gallery'), 98.5%),
    200: change-shade(map.get($colour-palette, 'gallery'), 97.5%),
    300: change-shade(map.get($colour-palette, 'gallery'), 95%),
    400: map.get($colour-palette, 'gallery'),
    500: change-shade(map.get($colour-palette, 'gallery'), 90%),
    600: change-shade(map.get($colour-palette, 'gallery'), 85%),
    700: change-shade(map.get($colour-palette, 'gallery'), 75%),
  ),
  'light-grey': (
    100: change-shade(map.get($colour-palette, 'light-grey'), 97%),
    200: change-shade(map.get($colour-palette, 'light-grey'), 95%),
    300: change-shade(map.get($colour-palette, 'light-grey'), 90%),
    400: map.get($colour-palette, 'light-grey'),
    500: change-shade(map.get($colour-palette, 'light-grey'), 80%),
    600: change-shade(map.get($colour-palette, 'light-grey'), 75%),
    700: change-shade(map.get($colour-palette, 'light-grey'), 70%),
    725: change-shade(map.get($colour-palette, 'light-grey'), 57.5%),
    750: change-shade(map.get($colour-palette, 'light-grey'), 55%),
    800: change-shade(map.get($colour-palette, 'light-grey'), 50%),
  ),
);

/// Focus background color
/// @type Color
$focus-background-color: map.get($project-colours, 'accent', 400) !default;

/// Focus text color
/// @type Color
$focus-text-color: map.get($project-colours, 'secondary', 400) !default;

/// Body text colour
/// The colour used for body text
/// @type Color
$font-body-color: map.get($project-colours, secondary, 400) !default;

/// Light body text colour
/// The colour used for body text on darker backgrounds
/// @type Color
$font-body-color-light: map.get($project-colours, light, 400);

/// Subtitle font colour
/// Colour used for subtitles or taglines
/// @type Color
$font-subtitle-color: map.get($project-colours, ash, 400);

/// Card font colour
/// Colour used for card text
/// @type Color
$font-card-color: map.get($project-colours, slate, 400) !default;

/// Print Text Colour
/// The default color for text in print materials, set to black if not overridden.
/// @type Color
$font-print-colour: #000 !default;

/// Selection Colour
/// The colour used for text selection
/// @type Color
$selection-bg-color: map.get($project-colours, accent, 400) !default;

/// Selection Text Contrast Colour
/// The colour used for text selection contrast
/// @type Color
$selection-text-contrast-color: map.get($project-colours, bittersweet, 400) !default;
