@use '@abstracts/_index' as *;

.container {
  margin-block: calc(var(--spacing-paragraph) * 2);

  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }
}

.image__container {
  height: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.image {
  height: auto;
  width: 100%;
}

.video {
  height: auto;
  width: 100%;
}

.caption {
  background-color: var(--clr-urban-steel-150);
  border-radius: var(--border-radius-small);
  margin-top: size-clamp(1rem, 1.25rem);
  padding-block: size-clamp(0.75rem, 1rem);
  padding-inline: 1rem;
}
