@use '@abstracts/_index' as *;

html:has(dialog[open]) {
  overflow: hidden;
}

dialog {
  background-color: var(--clr-light-400);
  border: 0;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-menu);
  color: var(--fc-card);
  display: grid;
  margin: auto;
  max-inline-size: min(80vw, 50ch);
  overflow: visible;
  padding: size-clamp(rem(16), rem(24));
  position: fixed;
  width: 100%;
  z-index: var(--z-modal);

  &::backdrop {
    backdrop-filter: blur(25px);
    background: hsla(60, 14%, 80%, 0.45);
  }

  &:focus-visible {
    outline: 0;
  }

  &[open] {
    animation: fadeIn var(--transition-duration-fast) ease-in-out forwards;

    &::backdrop {
      animation: backdropFade var(--transition-duration-slow) ease-in-out forwards;
    }
  }

  &:not([open]) {
    animation: fadeOut var(--transition-duration-fast) ease-in-out forwards;
    pointer-events: none;

    &::backdrop {
      animation: backdropFade var(--transition-duration-slow) ease backwards;
      animation-direction: reverse;
    }
  }
}

.modal__close-button {
  --size: #{size-clamp(rem(48), rem(56))};
  align-items: center;
  background-color: var(--clr-slate-400);
  border: 0;
  border-radius: var(--border-radius-circle);
  color: var(--clr-light-400);
  cursor: pointer;
  display: flex;
  height: var(--size);
  justify-content: center;
  outline: 0;
  position: absolute;
  right: size-clamp(rem(-8), rem(-16));
  top: rem(-16);
  transition:
    background-color var(--transition-duration-fast) ease-in-out,
    box-shadow var(--transition-duration-fast) ease-in-out,
    outline var(--transition-duration-fast) ease-in-out;
  width: var(--size);

  &:hover {
    background-color: var(--clr-accent-400);
  }

  &:focus-visible {
    @include focused-box;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    pointer-events: none;
  }

  to {
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    pointer-events: all;
  }

  to {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes backdropFade {
  from {
    backdrop-filter: initial;
    background: transparent;
  }
  to {
    backdrop-filter: blur(25px);
    background: hsla(60, 14%, 80%, 0.45);
  }
}
