////
/// @group mixins-layout
////

/// This mixin is used to create a grid layout with a responsive content area with a maximum width. It also has the ability to create full-width sections. It is mainly used in the header, footer, and main sections of the page.
/// @example
///   main {
///     @include content-grid;
///   }
///
@mixin content-grid {
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width))
    [content-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
  transition: padding var(--transition-duration-fast);

  & > :not(.full-width) {
    grid-column: content;
  }

  & > .full-width > :not(.full-width) {
    grid-column: content;
  }

  & > .full-width {
    display: grid;
    grid-column: full-width;
    grid-template-columns: inherit;
    padding-block: var(--layout-row-spacing);

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}
