@use './../functions/units' as *;
@use './../functions/sizeClamp' as *;
@use './../settings/index' as *;
@use './mq' as *;

////
/// @group mixins-hero
////

/// Applies hero text styles
/// @example
///   .element {
///     @include hero-text;
///   }
@mixin hero-text {
  h1 {
    font-family: var(--ff-display-condensed);
    text-shadow: var(--shadow-large-title);

    &::after {
      color: var(--clr-accent-400);
      content: '.';

      @include mq(374, 'max', 'width') {
        content: '';
      }
    }

    &::selection {
      color: var(--clr-secondary-400);
    }
  }

  p {
    text-shadow: var(--shadow-large-body);

    &::selection {
      color: var(--clr-secondary-400);
    }
  }

  .hero__text {
    display: flex;
    flex-direction: column;
    row-gap: rem(12);
  }
}

/// Applies base hero styles to a container.
/// @example
///   .element {
///     @include hero-base;
///   }
@mixin hero-base {
  align-items: center;
  border-radius: var(--border-radius-medium);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  row-gap: size-clamp(rem(20), rem(32));
  text-align: center;

  &::after {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(0, 0, 0, 0.18) 44.47%,
      rgba(255, 255, 255, 0) 100%
    );
    content: '';
    inset: 0;
    position: absolute;
    z-index: 2;
  }

  @include hero-text();

  * {
    z-index: 3;
  }

  img {
    object-fit: cover;
    user-select: none;
    z-index: 0;
  }
}

/// Applies low impact hero styles to a container.
/// @example
///   .element {
///     @include hero-low-impact;
///   }
@mixin hero-low-impact {
  align-items: flex-start;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: size-clamp(rem(20), rem(32));
  text-align: left;
  @include hero-text();

  h1,
  p {
    text-shadow: none;
  }
}

/// Applies hero blurred styles to a container.
/// @example
///   .element {
///     @include hero-blurred;
///   }
@mixin hero-blurred {
  &::before {
    -webkit-backdrop-filter: blur(48px);
    backdrop-filter: blur(48px);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--shadow-hero-inner-shadow);
    content: '';
    filter: var(--shadow-hero-drop-shadow);
    inset: 0;
    position: absolute;
    z-index: 1;
  }
}

/// Applies small sized hero styles
/// @example
///   .element {
///     @include hero-small;
///   }
@mixin hero-small {
  & {
    height: 75dvh;
    max-height: rem(400);
    min-height: rem(360);
    padding: size-clamp(rem(20), rem(80));
  }

  @include mq('md') {
    row-gap: rem(40);
  }
}

/// Applies medium sized hero styles
/// @example
///   .element {
///     @include hero-medium;
///   }
@mixin hero-medium {
  & {
    height: 50dvh;
    max-height: rem(544);
    min-height: rem(360);
    padding: size-clamp(rem(20), rem(80));
  }
}

/// Applies large sized hero styles
/// @example
///   .element {
///     @include hero-large;
///   }
@mixin hero-large {
  & {
    height: 85dvh;
    max-height: rem(800);
    min-height: rem(360);
    padding-block: size-clamp(rem(20), rem(48));
    padding-inline: size-clamp(rem(20), rem(80));

    @include mq('md') {
      height: 80dvh;
    }

    @include mq('lg') {
      height: 75dvh;
    }
  }
}
