@use '@abstracts/settings/colours' as *;

:root {
  @each $color-name, $color-shades in $project-colours {
    @each $shade-name, $shade in $color-shades {
      --clr-#{$color-name}-#{$shade-name}: #{$shade};
    }
  }

  --fc-body: #{$font-body-color};
  --fc-body-light: #{$font-body-color-light};
  --fc-card: #{$font-card-color};
  --fc-sub-heading: #{$font-subtitle-color};
  --focus-bg-clr: #{$focus-background-color};
  --focus-text-clr: #{$focus-text-color};
  --selection-bg-clr: #{$selection-bg-color};
  --selection-text-contrast-clr: #{$selection-text-contrast-color};
  --success-bg-clr: #{$success-background-color};
  --warning-bg-clr: #{$warning-background-color};
  --error-bg-clr: #{$error-background-color};
}

.bg--primary {
  background-color: var(--clr-primary-400);
}

.bg--secondary {
  background-color: var(--clr-secondary-400);
}

.bg--accent {
  background-color: var(--clr-accent-400);
}

.bg--urban-steel {
  background-color: var(--clr-urban-steel-400);
}

.bg--slate {
  background-color: var(--clr-slate-400);
}

.bg--bitter-sweet {
  background-color: var(--clr-bittersweet-400);
}

.bg--chery-punch {
  background-color: var(--clr-cherry-punch-400);
}

.bg--fresh-leaf {
  background-color: var(--clr-fresh-leaf-400);
}

.bg--gradient-light {
  background:
    linear-gradient(149.32deg, var(--clr-concrete-400) 0%, #f1f1ef 100%), var(--clr-gallery-400);
}

.bg--gradient-primary {
  background:
    linear-gradient(97.51deg, rgba(0, 0, 0, 0) 3.06%, rgba(0, 0, 0, 0.21) 93.46%),
    var(--clr-primary-400);
}

.bg--gradient-secondary {
  background:
    linear-gradient(97.51deg, rgba(0, 0, 0, 0) 3.06%, rgba(0, 0, 0, 0.21) 93.46%),
    var(--clr-secondary-400);
}

.bg--gradient-accent {
  background:
    linear-gradient(97.51deg, rgba(0, 0, 0, 0) 3.06%, rgba(0, 0, 0, 0.21) 93.46%),
    var(--clr-accent-400);
}
